@charset "utf-8";
/****************************************************************

		pColor - color picker
		
****************************************************************/
.colorPicker-box {
	position: absolute;
	top: 0px;
	left: 0px;
	height: auto;
	width: 198px;
	z-index: auto;
	background: #E8E8E8;
	display: none;
	border: 1px solid #999;
	border-top: 5px solid #999;
	font-size: 12px;
	font-family: Verdana, Geneva, sans-serif;
	box-shadow: 3px 3px 5px #333333;
}
.colorPicker-last {
	position: absolute;
	top: 2px;
	right: 2px;
	height: 15px;
	width: 15px;
	border-radius: 9px;
	cursor: pointer;
}
.colorPicker-palette-tabs {
	height: 18px;
	margin: 0 5px;
	border-bottom: 1px solid #999;
}
.colorPicker-palette-tabs a {
	text-decoration: none;
	display: block;
	float: left;
	color: #333;
	padding: 2px 6px 2.2px 6px;
}
.colorPicker-palette-tabs a:hover {
	color: #000;
	background: #BBB;
}
.colorPicker-palette-tabs a.active {
	color: #000;
	background: #FFF;
	border-left: 1px solid #999;
	border-right: 1px solid #999;
	padding: 2px 7px 2.2px 7px;
}
.colorPicker-palette {
	margin: 0px 5px 0 5px;
	background: #FFF;
	padding: 4px 2px 2px 2px;
	border: 1px solid #999;
	border-top: none;
}
.colorPicker-pick {
	position: relative;
	height: 11px;
	width: 11px;
	float: left;
	cursor: pointer;
	border-width: 1px;
	border-style: solid;
	border-color: transparent;
	margin: 1px;
}
.colorPicker-tab { }
.colorPicker-tab.MS .colorPicker-pick {
	margin: 0 2px;
	width: 12px;
	height: 12px;
}
.colorPicker-tab.WEB { display: none; }
.colorPicker-title {
	display: block;
	margin: 0;
	padding: 2px 0 3px 6px;
	background: #f8f8f8;
}
code.colorPicker-separator {
	display: block;
	height: 7px;
	background: #FFF;
	clear: both;
}
.colorPicker-pick span {
	display: block;
	height: auto;
	width: auto;
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	border: 1px solid #FFF;
	display: none;
}
.colorPicker-hover { border: 1px solid #F60 !important; }
.colorPicker-hover span, .colorPicker-select span { display: block; }
.colorPicker-select { border: #F00 1px solid !important; }
.colorPicker-preview {
	height: 30px;
	margin: 5px;
	border: 1px solid #999;
}


a.pcolorSelector{
	text-decoration:none;
}

.pcolorSelector {
	border:none;
	display:inline-block;
	vertical-align:middle;
	margin: 0;
	padding: 0;
	text-indent: 100px;
	height:24px;
	width:40px;
	cursor:pointer;
	font-size:0px;
	background-image: url(     
"data:image/png;base64,	iVBORw0KGgoAAAANSUhEUgAAACgAAAAwCAYAAABjezibAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEgAACxIB0t1+/AAAABZ0RVh0Q3JlYXRpb24gVGltZQAxMC8wNi8xNZ5tfewAAAAcdEVYdFNvZnR3YXJlAEFkb2JlIEZpcmV3b3JrcyBDUzbovLKMAAABcElEQVRYhe2XUWqEMBCG/5QFXzxA7+EVPExZlqVH6VV8CUHmCt6gsLCw0BOYB5vJPti0FRXZpEYL+SEvmZnwZRLHjCAiC8BinxIgIra9eIVhich3bUtEfPgitQCeVsiAOxnhu8Bh2SVc1vrfoCiAzOwdGwXQGOMdmzIIJMBw/SvAsixn/YhoNLdGcR6Jmb9HXdeTPnVdD/zcpqIDMjOUUgO7UmrksykgM0NKCQCQUk7aHWCUO9h13eR8VVWzNqcogFpr79gECABt23rHpscCAOR57hWntY4DmGWZd2yUOhgil0EBwP+PvqJEhLZTBKwvYhxx2OZTX9xr332xCfj8EiCQAMO1e8CArjMO4OfeAX9n8Plt3u/jdTwX5TVj+GfcztM+t/PQz93b6ICGgetpaL+exj6bAhoGLsfedjlO2x3gpmXm/WW5BHllsGmah55QcxlaGoBnBouieOh1svtCnQBDlQBD9ReAq/bFIYC774vv1hJg4cRrK80AAAAASUVORK5CYII="
 )  ;
 background-repeat:no-repeat;
 background-position:left top;
 background-color:transparent;
}
.pcolorSelector:hover {
 background-position: left bottom;
	
	}


/*****************************************************************

		skin green 
		
******************************************************************/

.colorPicker-box.green {
	background: #49B81F;
	background: linear-gradient(to top, #286611, #49B81F);
	border: 1px solid #49B81F;
	border-top: 5px solid #49B81F;
}
.colorPicker-box.green .colorPicker-preview { border: 1px solid #69DE3D; }
.colorPicker-box.green .colorPicker-palette-tabs { border-bottom: 1px solid #FFF; }
.colorPicker-box.green .colorPicker-palette {
	border: 1px solid #FFF;
	border-top: none;
}
.colorPicker-box.green .colorPicker-palette-tabs a {
	color: #FFF;
	padding: 2px 6px 0px 6px;
}
.colorPicker-box.green .colorPicker-palette-tabs a:hover {
	color: #FFF;
	background: #286611;
}
.colorPicker-box.green .colorPicker-palette-tabs a.active  {
	color:#000;
	background:#FFF;
	border: none;
	padding: 2px 6px 0px 6px;
}
.colorPicker-box.green .colorPicker-title { background: #D1F4C4; }

/*****************************************************************

		skin blue 
		
******************************************************************/

.colorPicker-box.blue {
	background: #297fb8;
	background: linear-gradient(to top, #1F608B, #3598dc);
	border: 1px solid #1F608B;
	border-top: 5px solid #1F608B;
}
.colorPicker-box.blue .colorPicker-preview { border: 1px solid #3598dc; }
.colorPicker-box.blue .colorPicker-palette-tabs { border-bottom: 1px solid #FFF; }
.colorPicker-box.blue .colorPicker-palette {
	border: 1px solid #FFF;
	border-top: none;
}
.colorPicker-box.blue .colorPicker-palette-tabs a {
	color: #FFF;
	padding: 2px 6px 0px 6px;
}
.colorPicker-box.blue .colorPicker-palette-tabs a:hover {
	color: #FFF;
	background: #1D5E8D;
}
.colorPicker-box.blue .colorPicker-palette-tabs a.active {
	color:#000;
	background:#FFF;
	border: none;
	padding: 2px 6px 0px 6px;
}
.colorPicker-box.blue .colorPicker-title { background: #D1E9F8; }

/*****************************************************************

		skin orange 
		
******************************************************************/

.colorPicker-box.orange {
	background: #CA4200;
	background: linear-gradient(to top, #CA4200, #FA9212);
	border: 1px solid #CA4200;
	border-top: 5px solid #CA4200;
}
.colorPicker-box.orange .colorPicker-preview { border: 1px solid #FFF; }
.colorPicker-box.orange .colorPicker-palette-tabs { border-bottom: 1px solid #FFF; }
.colorPicker-box.orange .colorPicker-palette {
	border: 1px solid #FFF;
	border-top: none;
}
.colorPicker-box.orange .colorPicker-palette-tabs a {
	color: #FFF;
	padding: 2px 6px 0px 6px;
}
.colorPicker-box.orange .colorPicker-palette-tabs a:hover {
	color: #FFF;
	background: #BD6A04;
}
.colorPicker-box.orange .colorPicker-palette-tabs a.active {
	color:#000;
	background:#FFF;
	border: none;
	padding: 2px 6px 0px 6px;
}
.colorPicker-box.orange .colorPicker-title { background: #FDE8B0; }


